.idea/
build/*
data
*/utils/node_modules/
*/utils/package-lock.json

vendor
node_modules
lefthook-local.yaml
coverage.out
dist

.DS_STORE

./ixo-blockchain
lefthook-local
.vscode/*
!.vscode/devcontainer.json
