# /etc/systemd/system/ixocli-rest-server.service

[Unit]
Description=ixocli rest server
After=network.target

[Service]
Type=simple
User=ixo
WorkingDirectory=/home/ixo
ExecStart=/home/ixo/go/bin/ixocli rest-server --node tcp://localhost:26657 --laddr tcp://0.0.0.0:1317 --chain-id=pandora-1
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
