# /etc/systemd/system/ixod.service

[Unit]
Description=ixod Node
After=network.target

[Service]
Type=simple
User=ixo
WorkingDirectory=/home/ixo
ExecStart=/home/ixo/go/bin/ixod start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
