name: Review Pull Request

on:
  workflow_dispatch:
# on:
#   pull_request:

jobs:
  gather-build-info:
    name: Gather Build Info
    runs-on: ubuntu-latest
    outputs:
      is-prerelease: ${{ startsWith(steps.get_version.outputs.prerelease, 'rc') }}
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - run: echo "hi"

  test-code:
    name: ${{ matrix.test.name }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.test.experimental }}
    needs:
      - gather-build-info
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: Unit Tests (Code)
            command: npm run test:code
            experimental: true
            artifact: ""
            enabled: true

          - name: Snyk (Security)
            command: npm run test:security
            experimental: true
            enabled: true

          - name: Lint (Quality)
            command: npm run lint
            experimental: true
            enabled: true

          - name: Coverage (Quality)
            command: npm run test:coverage
            experimental: true
            enabled: false

        exclude:
          - test:
              enabled: false
    steps:
      - uses: actions/checkout@v5
      - name: Install Npm Dependencies
        run: npm install --ignore-scripts
      - name: Run Test
        run: ${{ matrix.test.command }}

  build:
    name: ${{ matrix.build.name }}
    runs-on: ubuntu-latest
    needs:
      - gather-build-info
    strategy:
      fail-fast: false
      matrix:
        build:
          - name: Build docker image
            os: ubuntu-latest
            enabled: true
            artifact: ixo-chain
            docker:
              file: .infra/dockerfiles/Dockerfile
              target: dist-stable
            post-build:
              enabled: false
              command: |
                docker build -t $IMAGE_NAME:$VERSION -f .infra/docker .

          - name: Build debian package
            os: ubuntu-latest
            artifact: "ixod"
            enabled: false
            docker:
              file: .infra/dockerfiles/Dockerfile
              target: dist-stable
            post-build:
              enabled: false
              command: |
                docker build -t $IMAGE_NAME:$VERSION -f .infra/docker .

          - name: Build macos binary
            command: docker build -t $IMAGE_NAME:$VERSION .
            os: ubuntu-latest
            artifact: ""
            enabled: false

        exclude:
          - build:
              enabled: false

    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: false
          context: .
          tags: ${{ matrix.build.artifact }}:tmp
          target: ${{ matrix.build.docker.target }}
          file: ${{ matrix.build.docker.file }}
          outputs: type=docker,dest=/tmp/${{ matrix.build.artifact }}.tar

      - run: ls -l
      - if: matrix.build.post-command.enabled
        run: echo "hi"

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.build.artifact }}
          path: /tmp/${{ matrix.build.artifact }}.tar

  test-artifact:
    name: ${{ matrix.test.name }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.test.experimental }}
    needs:
      - build
    strategy:
      matrix:
        test:
          - name: Scan Docker image (Security)
            os: ubuntu-latest
            artifact: ixo-chain
            enabled: true
            experimental: true
            command: docker scan --file .infra/dockerfiles/Dockerfile ixo-chain:tmp

          - name: Integration Tests (Quality)
            os: ubuntu-latest
            artifact: ixo-chain
            enabled: false
            experimental: true

        exclude:
          - test:
              enabled: false
    steps:
      - uses: actions/checkout@v5
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.test.artifact }}

      - name: Load image
        run: docker load --input ${{ matrix.test.artifact }}.tar

      - name: Run ${{matrix.test.name }}
        run: ${{ matrix.test.command }}
